<div class="container">
  <div class="row">
    <div class="col"> <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
      <div class="card-body p-4 p-md-5">
        <h2 class="mb-4 pb-2 pb-md-0 mb-md-5">Randevu Al</h2>
        <form>

          <div class="row">
            <div class="col-md-12 mb-4">
              <select class="form-select" aria-label="Default select example">
                <option selected>İl Seçiniz...</option>
                <option value="">İstanbul</option>
                <option value="">Sivas</option>
                <option value="">Ankara</option>
                <option value="">İzmir</option>

              </select>

            </div>

          </div>

          <div class="col-md-12 mb-4">

            <select class="form-select" aria-label="Default select example" disabled>
              <option selected >Klinik Seçiniz...</option>
              <option value="">A Klinik</option>
              <option value="">B Klinik</option>
              <option value="">C Klinik</option>
              <option value="">D Klinik</option>

            </select>

          </div>

          <div class="col-md-12 mb-4">

            <select class="form-select" aria-label="Default select example" disabled>
              <option selected>Muayene Yeri...</option>
              <option value="">A Muayene</option>
              <option value="">B Muayene</option>
              <option value="">C Muayene</option>
              <option value="">D Muayene</option>

            </select>

          </div>
          <div class="col-md-12 mb-4">

            <select class="form-select" aria-label="Default select example" disabled>
              <option selected>Hekim Seçiniz...</option>
              <option value="">Hekim 1</option>
              <option value="">Hekim 2</option>
              <option value="">Hekim 3</option>
              <option value="">Hekim 4</option>

            </select>

          </div>


          <div class="col-md-12 mb-6 pb-2">
            <label>Başlangıç Tarihi</label>
            <input type="date"   class="form-control form-control-lg"  />
            <br>

          </div>


          <div class="mt-4 pt-2">
            <input class="btn btn-danger btn-lg" type="submit" value="Randevu Al" />
          </div>

        </form>

      </div>
    </div></div>
    <div class="col">
      <div class="col-12">
        <div class="row" style="padding-bottom: 20px">
          <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="true" href="#">Randevularım</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row" style="padding-bottom: 20px">
          <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="true" href="#">Randevularım</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <h5 class="card-title">Hastane Adı</h5>
              <p class="card-text">Doktor Adı</p>
              <a href="#" class="btn btn-primary" style=" margin-right: 10px;">Ekle</a>
              <a href="#" class="btn btn-warning" style=" margin-right: 10px;">Sil</a>
              <a href="#" class="btn btn-danger" style=" margin-right: 10px;">Güncelle</a>

            </div>
          </div>
        </div>
        <div class="row" style="padding-bottom: 20px">
          <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="true" href="#">Randevularım</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <h5 class="card-title">Hastane Adı</h5>
              <p class="card-text">Doktor Adı</p>
              <a href="#" class="btn btn-primary" style=" margin-right: 10px;">Ekle</a>
              <a href="#" class="btn btn-warning" style=" margin-right: 10px;">Sil</a>
              <a href="#" class="btn btn-danger" style=" margin-right: 10px;">Güncelle</a>

            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>
