
<nav >
  <ul class="nav justify-content-evenly" >
    <img src="assets/enabızımsı.png" class="nav-pills" style="height:6vh; margin-top: 5px" alt="logo">

    <li class="nav-item" >
      <a class="nav-link" style="border:3px solid white; border-radius:7px" routerLink="/admin">AdminPage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="border:3px solid white; border-radius:7px" routerLink="/user">UserPage</a>
    </li>

    <li class="nav-item">
      <a class="nav-link"  style="border:3px solid white; border-radius:7px" routerLink="/doctor">DoktorPage</a>
    </li>

  </ul>

</nav>
