  <div class="container" >
    <div class="col-sm-12">
      <h2>Hastane Ekle</h2>
      <div class="card" >
        <div class="card-body" >
          <h5 class="card-title">Hastaneye Ait Bilgileri Giriniz</h5>
          <br>
          <input type="name" [(ngModel)]="sendHospitalName"  id="hospitalName" style="margin-bottom: 15px"  class="form-control form-control-lg" placeholder="Hastane Adı"/>
          <div class="div">{{sendHospitalName}} </div>
<!--          Bir üst satırda bulunan sendHospitalName isimli değişken bizim form ekranında yazdığımız ngModal sayesinde input a yazdığımız veriyi tutuyor ve database-->
<!--          tarafına göndermemiz için katkı sağlıyor -->


          <select class="form-select" style="margin-bottom: 37px"  aria-label="Default select example" name="selectedName" [(ngModel)]="selectedCityId" >
            <option > Hastanenin Bulunduğu İl</option>
              <option  *ngFor="let city of cities" id="cityName" placeholder="Hastanenin Bulunduğu İl">{{city.id}}</option>
<!--            Aynı mantık ile modellediğim body sayesinde postgreSql e datayı göndermeye calısıyorum-->

          </select>
          <div class="checkboxContainer" style="align-items: center; display: flex; margin-right: 10px; margin-bottom: 55px">
            <div class="form-check" >
              <input class="form-check-input" type="checkbox" value="" id="checkDahiliye" >
              <label class="form-check-label" for="checkDahiliye">
                Dahiliye
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="CheckCildiye" checked>
              <label class="form-check-label" for="CheckCildiye">
                Cildiye
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="checkCerrahi" checked>
              <label class="form-check-label" for="checkCerrahi">
                Genel Cerrahi
              </label>
            </div>

          </div>
            <div class="button">
              <a class="btn btn-primary " style=" margin-right: 10px;" (click)="onAdd()">Ekle</a>
              <a class="btn btn-danger" style=" margin-right: 10px;">Sil</a>

            </div>


        </div>
      </div>
    </div>

  </div>




