<div class="col-md-2" style="margin: 20px">

  <div class="media">
    <button style="background-color: green">9.00-10.00 </button>
  </div>
  <br>
  <div class="media">
    <button>10.00-11.00</button>
  </div>
  <br>
  <div class="media">
    <button style="background-color: red" >12.00-13.00</button>
  </div>
  <br>
  <div class="media">
    <button>13.00-14.00</button>
  </div>
  <br>
</div>
<div class="col-md-2">
  <div class="media">
    <button style="background-color: green">14.00-15.00 </button>
  </div>
  <br>
  <div class="media">
    <button>15.00-16.00</button>
  </div>
  <br>
  <div class="media">
    <button style="background-color: green">16.00-17.00 </button>
  </div>

</div>
