<div class="container" >
  <div  >
    <h2>Doktor Ekle</h2>
    <div class="card" >
     <div class="card-body">
        <h5 class="card-title">Doktor'a Ait Bilgilerini Giriniz</h5>
        <br>
       <div class="row">
         <div class="col" style="margin-bottom: 15px">
           <input [(ngModel)]="doctorFirstName" type="text" class="form-control" placeholder="Ad" aria-label="Name">
         </div>
         <div class="col">
           <input type="text" [(ngModel)]="doctorLastName" class="form-control" placeholder="Soyad" aria-label="Surname">
         </div>
       </div>
        <select class="form-select" style="margin-bottom: 15px" aria-label="Default select example">
          <option selected>Doktor'un Çalışacağı Şehir </option>
          <option *ngFor="let city of  cities" [value]="city.name"  >{{city.name}}</option>

        </select>
        <select class="form-select" style="margin-bottom: 15px"   aria-label="Default select example">
          <option selected>Doktor'un Çalışacağı Hastane</option>
          <option  *ngFor="let hospital of  hospitals" [value]="hospital.name"  > {{hospital.name}}</option>

        </select>
        <select class="form-select" aria-label="Default select example"  [(ngModel)]="clinicID">
          <option selected>Doktor'un Çalıştığı Departman</option>
          <option *ngFor="let department of  departments" [value]="department.clinicName" id="selectedID" >{{department.clinicName}}</option>

        </select>

        <br>
        <a  class="btn btn-primary " style=" margin-right: 10px;" (click)="onAddDoctor()" >Ekle</a>
        <a href="#" class="btn btn-warning" style=" margin-right: 10px;">Güncelle</a>
        <a href="#" class="btn btn-danger" style=" margin-right: 10px;">Sil</a>

      </div>
    </div>
  </div>

</div>
