
<app-appointment-hours class="row" style="margin: 15px; align-items: center;border: 5px solid white; border-radius: 7px"></app-appointment-hours>
<div>

</div>
<section class="section about-section gray-bg" style="border:5px solid white; border-radius: 15px;margin:10px ">

  <div>
    <div class="container" style="displey:flex; ">

      <div class="row align-items-center flex-row-reverse">
        <div class="col-lg-6">
          <div class="about-text go-to">
            <h3 class="dark-color">Pia Grup Yaz Kampı</h3>
            <div class="row about-list">
              <div class="col-md-2">
                <div class="media">
                  <label></label>
                  <p>Doğum Tarihi</p>
                </div>
                <div class="media">
                  <label>Yaş</label>
                  <p>22 </p>
                </div>
<!--                <div class="media">-->
<!--                  <label>Residence</label>-->
<!--                  <p>Türkiye</p>-->
<!--                </div>-->
                <div class="media">
                  <label>Address</label>
                  <p>Türkiye</p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="media">
                  <label>E-mail</label>
                  <p>pia@pia.com</p>
                </div>

                <div class="media">
                  <label>Phone</label>
                  <p>1111111111</p>
                </div>
                <div class="media">
                  <label>Skype</label>
                  <p>skype.0404</p>
                </div>
                <div class="media">
                  <label>Hastalık</label>
                  <p>-</p>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="about-avatar">

            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="" >

          </div>

        </div>

      </div>

    </div>
  </div>




</section>


