

<div class="col"> <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
  <div class="card-body p-4 p-md-5">
    <h2 class="mb-4 pb-2 pb-md-0 mb-md-5">Randevu Al</h2>

      <div class="row">
        <div class="col-md-12 mb-4">
          <select class="form-select" aria-label="Default select example" >
            <option selected>İl Seçiniz</option>
            <option value="{{AllCities.name}}" *ngFor="let AllCities of cityList">{{AllCities.name}}</option>
          </select>

        </div>

      </div>

      <div class="col-md-12 mb-4">

        <select class="form-select" aria-label="Default select example" >
          <option selected >Klinik Seçiniz</option>
          <option value="AllDepartment.name" *ngFor="let AllDepartment of departmentList">{{AllDepartment.name}}</option>


        </select>

      </div>

      <div class="col-md-12 mb-4">

        <select class="form-select" aria-label="Default select example" >
          <option selected>Muayene Yeri...</option>
          <option value="" *ngFor="let hospital of hospitalList">{{hospital.name}}</option>


        </select>

      </div>
      <div class="col-md-12 mb-4">

        <select class="form-select" aria-label="Default select example" >
          <option selected>Hekim Seçiniz</option>
          <option value="" *ngFor="let doctor of doctorList">{{doctor.name}}</option>


        </select>

      </div>


      <div class="col-md-12 mb-6 pb-2">
        <label>Başlangıç Tarihi</label>
        <input type="date"   class="form-control form-control-lg"  />
        <br>

      </div>


      <div class="mt-4 pt-2">
        <input class="btn btn-danger btn-lg" type="submit" value="Randevu Al" />
      </div>


  </div>
</div></div>
